.circle{
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(54, 244, 57);
  text-align:center;
  line-height: 80px;
  transition: all 1.2s;
}
.circle:hover {
  box-shadow: inset 0 0 50px rgb(0, 0, 0), 0 0 1000px rgb(0, 0, 0);
}



.btn-box {
  
  display: inline-block;
  width: 200px;
  text-align: center
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  border: 2px solid #000000;
  transition: .4s;
  background-color: white;
}

.btn-box:hover {
  border: 2px solid transparent;
  color: #9ec34b;
}

.btn-box:before, .btn-box:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box:before {
  border-bottom: 2px solid #9ec34b;
  border-left: 2px solid #9ec34b;
  transform-origin: 100% 0%;
}

.btn-box:after {
  border-top: 2px solid #9ec34b;
  border-right: 2px solid #9ec34b;
  transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
  transform: scale(1);
}





.link-button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.link-button:hover {
    background-color: #218838;
    box-shadow: inset 0 0 50px rgba(0, 129, 30, 0.197), 0 0 100px rgba(1, 129, 35, 0.5);
}


.btn-gradient-3d-orange {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}




.btn-shine {
  color: #000000;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(0, 0, 0, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  background-color: white;
}

.btn-shine:hover {
  border-color: #000000;
  box-shadow: inset 0 0 50px rgba(2, 0, 129, 0.197), 0 0 100px rgba(1, 7, 129, 0.5);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #FFF;
  
}











