
movie {
    grid-area: movie; /* movieエリアに配置 */
    width: 100%;
    background-color: #fff;
}


movie {
    display: flex; /* Flexコンテナに */
    flex-direction: column; /* ヘッダーの要素を縦並びにする */
    align-items: center; /* 垂直方向中央揃え */
}