

/* --- 1. Grid でページ全体のレイアウトを定義 --- */
.container {

    display: grid;
    /* 各エリアの行の高さを定義 */
    grid-template-rows: auto auto 1fr auto; /* ヘッダー(auto), メインコンテンツ(1fr), フッター(auto) */
    /* 各エリアの列の幅を定義 */
    grid-template-columns: 1fr 150px; /* メインカラム(1fr), サイドバー(250px) */
    /* 各エリアの名前を定義 */
    grid-template-areas:
        "header header"   /* 1行目 */
        "hero hero"    /* 2行目 */
        "main   aside"    /* 3行目 */
        "footer footer";  /* 4行目 */
    min-height: 100vh; /* 画面の高さ全体を使う */

    background-color: #fff;
    /* padding: 20px 30px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* 縦画面時 */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;       
        min-height: 100vh;

        /* 画面幅が狭い場合、サイドバーをメインの下に配置 */
        grid-template-columns: 1fr; /* 1列にする */
        grid-template-areas:
            "header"
            "hero"
            "main"
            "aside"
            "footer";
    }
}

